# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# IDE (VS Code & PyCharm)
.vscode/
.idea/
*.swp
*.swo

# Системні файли
.DS_Store
Thumbs.db
